<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <h3 class="header-text">Program: {{ program.name }}</h3>
    <span>Listing Activities</span>
  </div>
  <div class="button-container">
      <button mat-button class="btn action-button" (click)="closeDialog()">CLOSE</button>
  </div>
</div>

<div *ngIf="isLoading" class="mat-spinner-container">
  <mat-progress-spinner mode="indeterminate">
  </mat-progress-spinner>
</div>

<div class="activities-container" *ngIf="!isLoading">
  <div *ngIf="activities.length === 0">No activities found</div>

  <mat-table [dataSource]="dataSource" mat-elevation-z4 *ngIf="activities.length > 0">
 <!-- Activty Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Activity Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Start Date -->
    <ng-container matColumnDef="expectedStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.expected_start_date | date:"dd.MM.y"}} </mat-cell>
    </ng-container>

    <!-- End Date-->
    <ng-container matColumnDef="expectedEndDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">End Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.expected_end_date | date:"dd.MM.y"}} </mat-cell>
      </ng-container>

      <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-header-text actions-column">Actions</mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index;" class="actions-column">
          <button mat-icon-button color="warn" (click)="deleteActivity(element)" 
                matTooltip="Delete activity" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
           </button>
        <!-- <button mat-button class="actions-icons" (click)="deleteActivity(element)">
          DELETE
        </button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row [ngClass]="{'highlight': index%2 == 1}" *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
  </mat-table>
</div>