<h3 class="header-text">Program Activity</h3>
<span>Add an activity to the {{ program.name }} program</span>

<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="activityForm">
  <mat-form-field class="input-default" fxFlex=50>
    <input matInput formControlName="name" placeholder="Activity Name*">
  </mat-form-field>

  <mat-form-field class="input-default" fxFlex=50>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="expected_start_date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-hint>Format: dd.mm.yyyy</mat-hint>
  </mat-form-field>

  <mat-form-field class="input-default" fxFlex=50>
    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="expected_end_date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-hint>Format: dd.mm.yyyy</mat-hint>
  </mat-form-field>
</form>

<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button class="btn action-button" type="submit" [disabled]="activityForm.invalid" (click)="saveActivity()">Save</button>
  <button mat-raised-button class="btn action-button" (click)="cancel()">Cancel</button>
</div>