<div class="button-container">
  <button mat-icon-button (click)="closeDialog()" matTooltip="Close" matTooltipPosition="below">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div>
  <h3 class="header-text">Program: {{ program.name }}</h3>
  <span>Listing Activities</span>
</div>

<div *ngIf="isLoading" class="mat-spinner-container">
  <mat-progress-spinner mode="indeterminate">
  </mat-progress-spinner>
</div>

<div class="activities-container" *ngIf="!isLoading">
  <div class="activities-null" *ngIf="activities.length === 0">
    <hr>
    <div class="center-content">No activities found</div> 
  </div>

  <mat-table [dataSource]="dataSource" mat-elevation-z4 *ngIf="activities.length > 0">
    <!-- Activty Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Activity Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <!-- Start Date -->
    <ng-container matColumnDef="expectedStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.expected_start_date | date:"dd.MM.y"}} </mat-cell>
    </ng-container>

    <!-- End Date-->
    <ng-container matColumnDef="expectedEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">End Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.expected_end_date | date:"dd.MM.y"}} </mat-cell>
    </ng-container>

    <!-- Progress -->
    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Progress</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="default-status" [ngClass]="element.progress ? element.progress :''" matTooltip={{element.progress}}
          matTooltipPosition="below">fiber_manual_record</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-text">Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="default-status" [ngClass]="element.status ? element.status :''" matTooltip={{element.status}}
          matTooltipPosition="below">fiber_manual_record</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-header-text actions-column">Actions</mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index;" class="actions-column">
        <button mat-icon-button color="warn" (click)="companyLanguage" matTooltip="Delete activity"
          matTooltipPosition="below">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row [ngClass]="{'highlight': index%2 == 1}" *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
  </mat-table>
  <mat-paginator #paginator *ngIf="activities.length > 6" [pageSize]="pageSize" [pageSizeOptions]="[3, 6, 9]" [showFirstLastButtons]="true"
    [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = getPaginatorData($event)">
  </mat-paginator>
</div>