<div *ngIf="isLoading" class="mat-spinner-container">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>

<div class="programs-container mat-elevation-z8" *ngIf="!isLoading">
  <mat-table [dataSource]="dataSource">

    <!-- Program Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Program Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="actions-column">Actions</mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index;" class="actions-column">
          <button mat-button class="actions-icons" (click)="addActivity(element)">
              ADD ACTIVITY
            </button>
  
            <button mat-button class="actions-icons" (click)="viewActivities(element.id)">
                VIEW ACTIVITIES
            </button>
        <!-- <button mat-button (click)="addActivity(element)">ADD ACTIVITY</button>
        <button mat-button class="btn exit-button" (click)="viewActivities(element.id)">VIEW ACTIVITIES</button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row  [ngClass]="{'highlight': index%2 == 1}"  *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
  </mat-table>
</div>