@import "./../styles/app-colors.scss";

.toolbar {
  background-color: $primary-color;
  color: #ffffff;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px;
}

.heading-text {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

.subheading-text{
  font-size: 16px;
}