@import "./../styles/app-colors.scss";

.toolbar {
  background-color: $primary-color;
  color: white;
  -webkit-box-shadow: 0 10px 6px -6px $input-value-color;
  -moz-box-shadow: 0 10px 6px -6px $input-value-color;
  box-shadow: 0 10px 6px -6px $input-value-color;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px;
}

.heading-text {
  font-size: 40px;
  padding-top: 20px;
}

.subheading-text{
  font-size: 10px;
}