/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/app-colors.scss';

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", "Roboto", sans-serif;
}